<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="referrer" content="no-referrer"/>

	<title>[title]</title>

	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">

	<link rel="stylesheet" type="text/css" href="__CSS__/auto.css">

<!-- 	<link rel="stylesheet" type="text/css" href="__CSS__/[css].css">
-->
<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/animate.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
<!-- <link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="__STATIC__/alert/alert.css">


</head>

</body> 

<div class="background-img">

	<div class="hidden-xs hidden-sm">
		<img src="[img-pc]" class="background-img-pic">
	</div>
	<div class="hidden-md hidden-lg">
		<img src="[img-m]" class="background-img-pic">
	</div>
</div>