{include file="common/header" title="美食广场" img-pc="__IMG__/house.png"}

<script type="text/javascript" src="__JS__/echarts.min.js"></script>
<script type="text/javascript" src="__JS__/iconfont-food.js"></script>
{include file="common/nav"}

<div class="container-fluid">
	<br>
	<div class="row">

		<div class="col-md-3 padding">
			<div class="s-box-o radius-lg">
				<p class="text-left border-bottom padding lead">当前餐厅</p>

				<p class="text-left border-bottom padding lead">当前窗口</p>

				<p class="text-left border-bottom padding lead">零食区</p>

				<p class="text-left border-bottom padding lead">饮料区</p>

			</div>

		</div>

		<div class="col-md-9 padding">
			<div class="s-box-o radius-lg">
				<blockquote><p class="text-left border-bottom padding lead">所有食物</p></blockquote>

				<div class="table-responsive">
					<table class="table table-bordered">
						<tr>
							<th>食物名称</th>
							<th>食物种类</th>
							<th>能量值</th>
							<th>操作</th>
						</tr>

						<tr>
							<td>食物名称</td>
							<td>食物种类</td>
							<td>能量值</td>
							<td>食物种类</td>
						</tr>
					</table>

				</div>

			</div>

		</div>

	</div>

</div>

{include file="common/footer"}